@import "https://fonts.googleapis.com/css?family=Montserrat";
body{height:100%;margin:0;padding:0;background:}
.chat{width:400px;height:80vh;box-shadow:0 0 30px -5px #660000;margin:10vh calc(50vw - 200px);background:#fafafa;position:relative;font-family:'Montserrat',sans-serif}
.chat_header{border:1px solid #660000;padding:15px;border-bottom:4px solid #660000;background:#f0f0f0;color:#660000}
.chat_status{font-size:11px;margin:4px 0 -4px}
.chat_avatar{float:right;width:42px;border-radius:50%;margin-top:-3px}
.chat_input{position:absolute;bottom:0;width:calc(100% - 8px);padding:10px 4px 6px;background:#c8c8c8}
.chat_text{width:calc(85% - 10px);padding:10px;box-sizing:border-box;margin:0 5px 5px;vertical-align:top;font-family:'Montserrat',sans-serif}
.chat_submit{width:calc(15% - 5px);padding:10px;box-sizing:border-box;margin:0 5px 5px 0;vertical-align:top;border:1px solid #660000;cursor:pointer;color:#660000;border-radius:0 8px 8px 0;transition:all .4s}
.chat_submit:hover{background:#660000;color:#fff}
.chat_bubble-1,.chat_bubble-2{padding:10px;margin:13px 17px;width:200px;font-size:14px}
.chat_bubble-1{border:1px solid #660000;border-radius:12px 12px 12px 0}
.chat_bubble-2{border:1px solid #660000;border-radius:12px 12px 0 12px;margin-left:160px}
.chat_s{max-height:calc(75vh - 86px - 29px);overflow-y:scroll;padding:15px 0 0}
::-webkit-scrollbar{width:13px}
::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 0 4px #fff;background:#660000}